body {
    background-color: #002b36;
    color: #839496;
    font-family: 'Inconsolata';
    font-size: 16px;
}

h1.glitch {
  color: white;
  font-size: 1em;
  position: relative;
  width: 90%;
}

.indent {
    padding-left: 2em;
}

.logo {
    white-space: pre;
	letter-spacing: 0.3em;
	padding: 3em 0;
	color: #268bd2;
    font-size: 0.4em;
    text-align: center;
}

.svg-logo {

	width: 50%;
	margin: 4em auto;

}

.comment {
    color: #586e75;
    font-style: italic;
}

.navigation a:hover {
    background-color: #073642;
    color: #cb4b16;
}

.footer {
    background-color: #073642;
    padding: 0.8em 1em 1em 1em;

}

p {
    margin: 0 0 1em;
}

@keyframes noise-anim {
  0% {
    clip: rect(61px, 9999px, 69px, 0);
  }
  5% {
    clip: rect(9px, 9999px, 25px, 0);
  }
  10% {
    clip: rect(41px, 9999px, 3px, 0);
  }
  15.0% {
    clip: rect(98px, 9999px, 98px, 0);
  }
  20% {
    clip: rect(88px, 9999px, 14px, 0);
  }
  25% {
    clip: rect(20px, 9999px, 44px, 0);
  }
  30.0% {
    clip: rect(70px, 9999px, 54px, 0);
  }
  35% {
    clip: rect(13px, 9999px, 33px, 0);
  }
  40% {
    clip: rect(89px, 9999px, 12px, 0);
  }
  45% {
    clip: rect(59px, 9999px, 92px, 0);
  }
  50% {
    clip: rect(31px, 9999px, 39px, 0);
  }
  55.0% {
    clip: rect(63px, 9999px, 39px, 0);
  }
  60.0% {
    clip: rect(63px, 9999px, 86px, 0);
  }
  65% {
    clip: rect(34px, 9999px, 63px, 0);
  }
  70% {
    clip: rect(93px, 9999px, 33px, 0);
  }
  75% {
    clip: rect(85px, 9999px, 46px, 0);
  }
  80% {
    clip: rect(82px, 9999px, 21px, 0);
  }
  85.0% {
    clip: rect(37px, 9999px, 10px, 0);
  }
  90% {
    clip: rect(6px, 9999px, 92px, 0);
  }
  95% {
    clip: rect(56px, 9999px, 76px, 0);
  }
  100% {
    clip: rect(78px, 9999px, 86px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: #002b36;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(76px, 9999px, 12px, 0);
  }
  5% {
    clip: rect(41px, 9999px, 67px, 0);
  }
  10% {
    clip: rect(38px, 9999px, 71px, 0);
  }
  15.0% {
    clip: rect(82px, 9999px, 47px, 0);
  }
  20% {
    clip: rect(11px, 9999px, 49px, 0);
  }
  25% {
    clip: rect(6px, 9999px, 67px, 0);
  }
  30.0% {
    clip: rect(60px, 9999px, 81px, 0);
  }
  35% {
    clip: rect(30px, 9999px, 41px, 0);
  }
  40% {
    clip: rect(2px, 9999px, 28px, 0);
  }
  45% {
    clip: rect(71px, 9999px, 58px, 0);
  }
  50% {
    clip: rect(12px, 9999px, 55px, 0);
  }
  55.0% {
    clip: rect(19px, 9999px, 45px, 0);
  }
  60.0% {
    clip: rect(75px, 9999px, 14px, 0);
  }
  65% {
    clip: rect(42px, 9999px, 92px, 0);
  }
  70% {
    clip: rect(61px, 9999px, 21px, 0);
  }
  75% {
    clip: rect(70px, 9999px, 28px, 0);
  }
  80% {
    clip: rect(56px, 9999px, 98px, 0);
  }
  85.0% {
    clip: rect(9px, 9999px, 10px, 0);
  }
  90% {
    clip: rect(96px, 9999px, 98px, 0);
  }
  95% {
    clip: rect(35px, 9999px, 71px, 0);
  }
  100% {
    clip: rect(58px, 9999px, 38px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: #002b36;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.ibeam {
  color: #ffffff;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
  font-style:normal;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}
